$primary-color: #00b39b; 
$secondary-color: #3d83df; 
$accent-color: #1b2734; 
$link-color: #ababab;
$text-color: #747474;

$font-primary: 'Roboto', Arial, sans-serif;

$font-size-base: 1rem; 
$font-size-smallest: 0.875rem; 
$font-size-small: 0.9375rem; 
$font-size-large: 1.625em;
$font-size-larger: 2.125rem;

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);